
html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

body {
  font-size: 75%;
  background-color: rgb(25, 117, 67);
  height:890px;
  width: 99%;
  margin: 5px;
  position: absolute;
}

.data {
  background-color: rgb(101, 136, 119);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 70%;
}

.render {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}







/* Optional: additional styling for spacing around other buttons */
